#content-wrapper{
    width: 80vw;
    background-color: #2e2e2e;
    height: calc(100vh - 45px - 45px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .2) transparent;
}
@media screen and (width <= 1366px) {
    #content-wrapper{
      width: 100vw;
    }
}
